* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: sans-serif;
}




/*------BODY--------*/

body {
    background-color: #447CBB;
}


/*---------------HEADER--------------*/



.nav-container img {
    height: 60px;
    width: 120px;
}

.cont-header {
    background-color: #ffffff;
    padding: 0.1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
}

.cont-logo {
    width: 40%;
    max-width: 850px;
    margin-left: 20px auto;
}

.logo {
    margin-left: 55px;
}

.cont-header {
    color: #447CBB;
}

.conten-page {
    width: auto;
    height: auto;
    margin-top: 150px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color: #185FA1;
    height: 420px;
    display: grid;
    position: relative;
}

.container-content-footer {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    height: 320px;
}
.cont-info-contac h3, p {
    font-family: sans-serif;
    color: #ffffff;
    margin-top: 20px;
}

.cont-info-contac {
    width: 420px;
    height: 10px;
}

.cont-logo-old img {
    margin-top: 45px;
}

.cont-logo-old {
    max-width: 420px;
}
.cont-info-icontec img {
    height: 115px;
    width: 250px;
    margin-top: 65px;
}

footer>p {
    text-align: center;
    color: #ffffff;
    bottom: 0;
    top: 15px;
}
.note{
    margin-left: 10%;
    width: 160px;
    height: 40px;
    background-color: rgb(43, 180, 43);
    border-radius: 8px;
    border: #ffffff;
}

.note a{
    color:#ffffff;
}

@media only screen and (max-width: 320px) {

    header{
        display: flex;
    }
    body{
        display: inline-block;
    }
    .conten-page{
    display: flex;
    }
    footer{
    background-color: #185FA1;
    height: 900px;
    width: 100%;
    display: block  ;
    }
    .container-content-footer{
    margin: 20px;
    display: block;
    height: 720px;
    width: auto;
    }
    .cont-info-contac{
        width: 320px;
        height: 290px;
        bottom: 10px;
    }
    .cont-info-icontec{
        top: 150px;
    }

}
