.conten-page p{
    margin: auto;
    display: block;
    top: 20px;
}
.conten-page #app{
    width: 60%;
}
.notes{
    margin:auto;
    width: 120px;
    height: 40px;
    background-color: rgb(43, 180, 43);
    border-radius: 6px;
    border: 1px solid rgb(43, 180, 43);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    align-items: center;
}

.notes a{
    color:#ffffff;
}

.view-pdf {
    margin: 10px auto;
    display: block;
    width: 100%;
}

