.conten-page a {
  color: #ffffff;
}
.conten-page h3 {
  margin-bottom: 45px;
}

.container-page {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 60px;
}

.conten-page {
  margin-bottom: 40px;
}

.p-3 {
  font-weight: 500;
  font-size: 1.3rem;
  background-color: #555299;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 967px) {
  .container-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 60px;
  }
}

@media (max-width: 515px) {
  .container-page {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 60px);
  }
}
