* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: sans-serif;
}

html {
    min-height: 100%;
    position: relative;
}


/*------BODY--------*/

body {
    background-color: #447CBB;
}


/*---------------HEADER--------------*/

.nav-container {
    display: flex;
    width: 3rem;
    margin-left: 120px;
}

.nav-container img {
    height: 60px;
    width: 120px;
}

.cont-header {
    background-color: #ffffff;
    padding: 0.1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    font-weight: bold;
    z-index: 4;
}

.cont-logo {
    width: 40%;
    max-width: 850px;
    margin-left: 20px auto;
}

.logo {
    margin-left: 55px;
}

.cont-header {
    color: #185FA1;
}

.logo-nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-header .navigation {
    display: flex;
    justify-content: space-around;
}

.cont-header nav ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 0, 6, 0, 6;
}

.navigation ul li {
    height: 25px;
    width: auto;
    padding: 5px;
}

.navigation ul li:hover>ul {
    display: block;
}

.navigation ul li a {
    transition: all 0.4s linear;
    border-radius: 4px;
    color: #185FA1;
}

.navigation ul li a:hover {
    background: #66c7c2;
    height: 15px;
    width: 25px;
}

.navigation ul li ul {
    display: block;
    width: auto;
}

.navigation ul li ul li {
    width: auto;
    height: 20px;
    display: block;
    padding: 10px;
}

.navigation ul li ul li ul {
    display: none;
}

.navigation ul li ul {
    display: none;
}

.admon {
    top: 70px;
    left: 890px;
    position: absolute;
}

.salud {
    top: 110px;
    left: 890px;
    position: absolute;
}

.tecn {
    top: 140px;
    left: 890px;
    position: absolute;
}

.cienc {
    top: 200px;
    left: 890px;
    position: absolute;
}

.gast {
    top: 235px;
    left: 890px;
    position: absolute;
}

.Idio {
    top: 260px;
    left: 890px;
    position: absolute;
}

.navigation ul li ul li ul li {
    display: block;
}

.subt-li a {
    font-weight: 100;
}

.conten-page {
    width: auto;
    height: 700px;
    margin-top: 150px;
    color: #ffffff;
}

footer {
    background-color: #185FA1;
    height: 420px;
    max-width: auto;
    bottom: 0;
    position: relative;
}

.container-content-footer {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    height: 320px;
}

.cont-info-icontec img {
    height: 115px;
    width: 250px;
    margin-top: 65px;
}

.cont-info-contac h3,
p {
    font-family: sans-serif;
    color: #ffffff;
    margin-top: 20px;
}

.cont-info-contac {
    width: 420px;
    height: 20px;
}

.cont-logo-old img {
    margin-top: 45px;
}

.cont-logo-old {
    max-width: 420px;
}

footer>p {
    text-align: center;
    color: #ffffff;
    bottom: 0;
    top: 15px;
}
.note{
    margin-left: 10%;
    width: 160px;
    height: 40px;
    background-color: rgb(43, 180, 43);
    border-radius: 8px;
    border: #ffffff;
}

.note a{
    color:#ffffff;
}

@media only screen and (max-width: 320px) {
    
footer{
    background-color: #185FA1;
    height: 520px;
    width: 100%;
    bottom: 0;
    }
}


@media(){

}
