* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: sans-serif;
}

/*------BODY--------*/

body {
  background-color: #447cbb;
  min-height: 100vh;
}

/*---------------HEADER--------------*/

.nav-container img {
  height: 60px;
  width: 120px;
}

.cont-header {
  background-color: #ffffff;
}

.cont-logo {
  width: 40%;
  max-width: 850px;
  margin-left: 20px auto;
}

.logo {
  margin-left: 55px;
}

.cont-header {
  color: #447cbb;
}

.conten-page {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

footer {
  background-color: #185fa1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-content-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 1400px;
}
.cont-info-contac h3,
p {
  color: #ffffff;
}

.cont-info-contac {
  padding: 50px 10px;
}

.cont-logo-old img {
}

.cont-logo-old {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

.cont-info-icontec {
  display: flex;
  justify-content: center;
}

.cont-info-icontec img {
  width: 250px;
}

footer > p {
  color: #ffffff;
  text-align: center;
  width: 100%;
  border-top: 1px solid;
}

.note {
  width: 150px;
  height: 40px;
  background-color: rgb(43, 180, 43);
  border-radius: 6px;
  border: 1px solid rgb(43, 180, 43);
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 768px) {
  .conten-page {
    display: flex;
  }
  footer {
    background-color: #185fa1;
    width: 100%;
    margin-top: auto;
  }
  .container-content-footer {
    display: grid;
    grid-template-areas:
      'section1 section2'
      'section3 section3';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 200px;
    align-items: center;
  }
  .cont-info-icontec {
    grid-area: section3;
  }
}

@media only screen and (max-width: 485px) {
  .container-content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    text-align: center;
  }
}

button {
  border: 1px solid greed;
}
